<table class="table table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>№</th>
    <th>Название</th>
    <th>Адрес</th>
    <th>Широта</th>
    <th>Долгота</th>
    <% if request.format.js? %>
      <th>Дистанция (км)</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% buildings.each.with_index(1) do |building, index| %>
    <tr id="<%= building.id %>">
      <th><%= index %></th>
      <td><%= building.name %></td>
      <td><%= building.address %></td>
      <td><%= building.latitude %></td>
      <td><%= building.longitude %></td>
      <% if request.format.js? %>
        <td><%= building.distance %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>